@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
section {
    clear: both;
    display: none;
    position: center;
    background: #D9F0FF ;
  }
  
  .card{
    background: #D9F0FF ;
    border-width: 0.2cm;
  }
  .card-body{
    position: center;
    text-align: center;
  }

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4,
#tab5:checked~#content5 {
  display: block;
  padding: 20px;
  background: #D9F0FF ;
  color: #0c0808;
  border-bottom: 2px solid #14c33d ;
}